html {
    width: 100%;
}

body {
    background-color: skyblue;
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/jaden-case/images/Philosophical+jaden+smith+i+found+the+1920x1080+of+the+back_8d348b_5228590.png);
}   
    

h1 {
    margin: 0 auto;
}

#parentDiv {
    border: 2px solid blue;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 auto;
}

div {
    border: 2px solid magenta;
    color: navy;
    letter-spacing: .2rem;
    padding: 1em;
    /*text-align: center;*/
}

#underParentDiv {
    border: 2px solid red; 
    width: 30em;
    height: 30em;
    display: flex;
    
}