:root {
    --ff-accent: 'Julius Sans One', sans-serif;
    --ff-primary: 'Mandali', sans-serif;
}

html {
    width: 100%;
}

body {
    
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/jaden-case/images/jaden.png);
                      /*url(/Users/casvalkyriespicer/Documents/GitHub/jaden-case/images/lightclouds.jpg);*/
    background-color: rgb(208, 232, 252);   
    background-blend-mode: multiply; 
    opacity: .8;              
    /*background-repeat: no-repeat;*/
    width: 100%;
    height: 100%;
    background-blend-mode: screen;
    background-position: 50% 10%;
    filter: brightness(0.4);
    /*background-size: contain;
    object-fit: cover;
    width: 100%;
    max-height: 850px;*/
    font-family: var(--ff-primary);
}   
    

h1 {
    margin: 0 auto;
    text-align: center;
    color: navy;
    margin-bottom: 7em;
    font-family: var(--ff-accent);
    
}

.container {
    align-content: center;
    text-align: center;
}

#parentDiv {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 auto; 
}

div {
    color: navy;
    letter-spacing: .2rem;
    padding: 1em;
    font-size: 2rem;
    font-weight: 700;
    text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px rgb(252, 250, 155)
          0 0 82px rgb(252, 250, 155)
          0 0 92px rgb(252, 250, 155)
          0 0 102px rgb(252, 250, 155)
          0 0 151px rgb(252, 250, 155)
}

/*img {
    width: 100%;
    height: auto;
    opacity: .5;
    object-fit: cover;
    width: 100%;
    max-height: 850px;
}*/

form {
    margin: 0 auto;
    align-content: center;
}