html {
    width: 100%;
}

body {
    background-color: skyblue;
    background-image: url(/Users/casvalkyriespicer/Documents/GitHub/jaden-case/images/Philosophical+jaden+smith+i+found+the+1920x1080+of+the+back_8d348b_5228590.png),
                      url(/Users/casvalkyriespicer/Documents/GitHub/jaden-case/images/sky.jpg);
    background-position: top center; /*50% 10%;*/
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    /*opacity: .5;
    object-fit: cover;
    width: 100%;
    max-height: 850px;*/
}   
    

h1 {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.container {
    align-content: center;
}

#parentDiv {
    border: 2px solid blue;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin: 0 auto;
}

div {
    border: 2px solid magenta;
    color: navy;
    letter-spacing: .2rem;
    padding: 1em;
    /*text-align: center;*/
}

img {
    width: 100%;
    height: auto;
    opacity: .5;
    object-fit: cover;
    width: 100%;
    max-height: 850px;
}

form {
    margin: 0 auto;
    align-content: center;
}